html, body {
    height: 100vh;
}

body {
    font-family: 'BMorvarid';
    background-color: rgb(36,81,149);
    margin: 0;
    background-image: url('background.png');
}

input{
    font-family: yekan, serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    background-color: rgb(19,63,140);
    color: white;
    border-top: 1px solid  black;

}

.footer-item + .footer-item {
    margin-left: 12px;
    margin-right: 12px;

}


.footer-item:hover{
    text-decoration: none;
}
a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

ul {
    margin: 0;
}

.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}

.custom-check-or-radio {
    /* Little hack in order to hide the original components of the check/radio button */
    opacity: 0.0;
    position: absolute;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 10px;
}

.advanced-section {
    grid-column-start: 1;
    grid-column-end: 3;
}